# Секретные файлы настроек и окружения
.env
.env.*

# Локальная база данных SQLite (чтобы не затереть серверную базу при пуше)
*.sqlite3
db.sqlite3

# Кэш Python (компилированные файлы, которые засоряют репозиторий)
__pycache__/
*.pyc
*.pyo
*.pyd

# Виртуальные окружения (если создавали локально)
.venv/
venv/
env/
ENV/

# Логи и системные файлы
*.log
.DS_Store
Thumbs.db

# Папки статики и медиа (если они собираются локально)
/staticfiles/
/media/